
body {
background-color: white;
}
header {

}
footer{
  font-size: 10px;
}
h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 35px;
}
h5{
  font-family: 'Alfa Slab One', cursive;
  font-size: 20px;
}
p{
  font-family: 'Scheherazade', serif;
  font-size: 20px;
}
.card-deck{
  padding-top: 25px;
  padding-bottom: 25px;
}
.resume{
  background-color: rgba(0, 0, 255, 0.3);
}
#language {
  text-align: center;
  padding-top: 25px;

}
#htmllogo:scroll {
  align-content: center;
  animation-name: htmllogo;
  animation-duration: 4s;
  animation-direction: normal;

}@keyframes htmllogo {
            0% {
               opacity: 0;
               transform: translateX(-20px);
            }
            100% {
               opacity: 1;
               transform: translateX(0);
            }
         }
